body {
    background-color: #2c2c2c; /* Темный серый фон */
    color: white; /* Белый текст */
    font-family: Arial, sans-serif;
    display: flex; /* Используем Flexbox для выравнивания по центру */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 100vh; /* Занимаем всю высоту окна */
    margin: 0; /* Убираем отступы */
}

.character-creation-container {
    background-color: #424242; /* Цвет фона контейнера */
    padding: 20px;
    border-radius: 8px;
    width: 250px; /* Ширина окна */
    text-align: center; /* Центрирование текста и элементов */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.character-info-container {
    background-color: #424242; /* Цвет фона контейнера для информации о персонаже */
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Ширина окна */
    text-align: center; /* Центрирование текста и элементов */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Центрируем на странице */
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100px; /* Уменьшенная ширина для полей ввода и выбора */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #757575; /* Серый цвет для ввода */
    color: white;
    text-align: center; /* Центрирование текста в input и select */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c; /* Красный цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Полная ширина кнопки */
}

button:hover {
    background-color: #c0392b; /* Темный красный при наведении */
}
